html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* fin reset css */








body {
    font-family: 'Pathway Extreme', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5vh;
    width: 100%;
    background-color: #227e17;
    font-size: x-large;
    font-weight: bold;
}

nav .principal-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav .logo-navbar {
    margin: 0 2vw;
    width: 2vw;
    cursor: pointer;
}

nav .ul-navbar {
    display: flex;
    flex-direction: row;
}

.ul-navbar li {
    margin: 0 2vw;
    cursor: pointer;
}

.search-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
}

.icon-search-nav {
    width: 1.5vw;
    margin-left: -4vw;
}

.search-nav .input-navbar {
    margin: 0 2vw;
    border-radius: 2vw;
    width: 15vw;
    height: 3vh;
    border: none;
    outline: none;
    font-size: large;
}


.search-nav .input-navbar::placeholder {
    padding-left: 1vw;
}


.titulo-iniciar-sesion {
    font-size: x-large;
    font-weight: bolder;
}


.form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    border: 1px solid black;
    height: 60vh;
    width: 20vw;
}

.form .logobong {
    width: 30%;
    padding-bottom: 2vw;
}

.form input {
    width: 15vw;
    height: 6vh;
    border-radius: 4vw;
    outline: 1px solid rgba(146, 145, 145, 0.8);
    border: none;
    background-color: rgba(226, 226, 226, 0.8);
    margin: 2vh 1vw;
    font-size: medium;
    text-align: center;
    transition: transform 1s;
}

.form input:focus {
    place-content: none;
}

.form input:focus::placeholder {
    opacity: 0;
}

.form input:hover {
    transform: scale(1.1);
}

.form button {
    width: 15vw;
    height: 6vh;
    border-radius: 4vw;
    outline: 1px solid rgba(146, 145, 145, 0.8);
    background-color: rgba(226, 226, 226, 0.8);
    border: none;
    cursor: pointer;
    margin-top: 3vh;
    transition: transform 1s;
    font-size: medium;
    font-weight: lighter;
}

.form button:hover {
    transform: scale(1.1);
    background-color: rgba(201, 201, 201, 0.801);
    color: white;
}