html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* fin reset css */








body {
    font-family: 'Pathway Extreme', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5vh;
    width: 100%;

    font-size: large;
    font-weight: bold;
}

nav .principal-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav .logo-navbar {
    margin: 0 2vw;
    width: 2vw;
    cursor: pointer;
}

nav .ul-navbar {
    display: flex;
    flex-direction: row;
}

.ul-navbar li {
    margin: 0 2vw;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-shadow: white 0 0 10px;

}

.search-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
}

.icon-search-nav {
    width: 1.5vw;
    margin-left: -4vw;
}

.search-nav .input-navbar {
    margin: 0 2vw;
    border-radius: 2vw;
    width: 15vw;
    height: 3vh;
    border: none;
    outline: none;
    font-size: large;
}


.search-nav .input-navbar::placeholder {
    padding-left: 1vw;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo-iniciar-sesion {
    font-size: x-large;
    font-weight: bolder;
}


.form {
    margin-top: 2vh;
    margin: 5vh 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    border: 1px solid black;
    height: 60vh;
    width: 20vw;
}

.re {
    padding: 4vh;
}

.form .logobong {
    width: 30%;
    padding-bottom: 2vw;
}

.form input {
    width: 15vw;
    height: 6vh;
    border-radius: 4vw;
    outline: 1px solid rgba(146, 145, 145, 0.8);
    border: none;
    background-color: rgba(226, 226, 226, 0.8);
    margin: 2vh 1vw;
    font-size: medium;
    text-align: center;
    transition: transform 1s;
}

.form input:focus {
    place-content: none;
}

.form input:focus::placeholder {
    opacity: 0;
}

.form input:hover {
    transform: scale(1.1);
}

.form button {
    width: 15vw;
    height: 6vh;
    border-radius: 4vw;
    outline: 1px solid rgba(146, 145, 145, 0.8);
    background-color: rgba(226, 226, 226, 0.8);
    border: none;
    cursor: pointer;
    margin-top: 3vh;
    transition: transform 1s;
    font-size: medium;
    font-weight: lighter;
}

.form button:hover {
    transform: scale(1.1);
    background-color: rgba(201, 201, 201, 0.801);
    color: white;
}


.info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    height: 3vh;
    width: 100%;
    align-items: center;
    background: #013d29;
    color: white;
    font-family: "Inconsolata", monospace;
}

.numero {
    margin-left: 2vw;
}

.localizacion {
    margin-right: 2vw;
}

.localizacion select {
    background-color: #013d29;
    border: none;
    color: white;
    margin: 1vw;
    height: 100%;
}

.localizacion:focus {
    outline: none;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    margin: 2vh;
}

/*.img-ted {
  width: 7vw;
  padding: 1vw 0 1vw 0;
}*/

.nav h2 {
    font-size: x-large;
}

#search {
    border: none;
    background-color: #f6f6f6;
    border-radius: 2vw;
    height: 4vh;
    width: 20vw;
    padding-left: 2vw;
}

#search:focus {
    outline: none;
}

.nav select {
    border: none;
    background-color: #fff;
}